.sample{
    font-size: 20px;
}
div{
    background-color: bisque;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.center{
    font-size: 30px;
    text-align: center;
}
.right{
    text-align: right;
}